.card {
  justify-content: center;
  flex-direction: column;
  box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
  transition: 0.3s;
  border-radius: 5px;
  width: 300px;
  margin: 1rem;
  background: #D6E4E5;
}

.users {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}