.display-container {
    position: sticky;
    top: 0;
    z-index: 999;
    background-image: linear-gradient(  #497174 70%, rgba(255,0,0,0));
}

#banner_img_container {
    height: 100px;
    position: relative;
    top: 20px;
}

#banner_img {
    width: auto;
    height: 70px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navbar {
    position: relative;
    top: 15px;
    height: 50px;
}

.navlink {
    position: relative;
    display: inline; 
    border: solid;
    padding-left: 5px;
    padding-right: 5px;
    border-width: 1px 1px 1px 1px;
    border-radius: 10px;
    color: rgb(42, 42, 42);
    background: #D6E4E5;
    font-size: larger;  
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    text-decoration: none;
    align-content: center;
    justify-content: center;
    transition: .5s;
    max-width: 70%;
}

.navlink-active {
    background: #EB6440;
}

.navlink:hover {
    background: #EB6440;
}